{% extends 'authapp/base_auth.html' %}

{% block content %}
{{ error }}
    {% if user.is_authenticated %}
        <h4 class="margin-bottom-15" style="text-align: center;">Вы авторизованы на сайте</h4>
        <br>
        <p>Не стоит сбрасывать пароль, <br>
            лучше <a href="{% url 'auth:password_change' %}">измените текущий пароль</a>.</p>
    {% else %}
        <h4 class="margin-bottom-15" style="text-align: center;">Сбросить пароль пользователя?</h4>
        <br>
        {{ form.errors }}
        <form method="POST">
            {% csrf_token %}
            <div class="wprt-contact-form-1">
                <span class="wpcf7-form-control-wrap name">
                    {{ form.email }}
                </span>
                <input type="submit" value="Выслать инструкцию">
            </div>
        </form>
    {% endif %}
{% endblock %}