{% extends 'authapp/base_auth.html' %}

{% block content %}
{{ error }}
    {% if user.is_authenticated %}
        <h4 class="margin-bottom-15" style="text-align: center;">Изменить пароль профиля {{ user.username|title }}</h4>
        <br>
        {% for field in form %}
            {{ field.errors }}
        {% endfor %}
        <form method="POST" action="{% url 'auth:password_change' %}">
            {% csrf_token %}
            <div class="wprt-contact-form-1">
                <span class="wpcf7-form-control-wrap name">
                    {{ form.old_password }}
                </span>
                <span class="wpcf7-form-control-wrap email">
                    {{ form.new_password1 }}
                </span>
                <span class="wpcf7-form-control-wrap email">
                    {{ form.new_password2 }}
                </span>
                <input type="submit" value="Изменить пароль">
            </div>
        </form>
        <br>
        <p>Можете посмотреть <a href="{% url 'auth:profile' user.pk %}">ваш профиль</a>.</p>
    {% else %}
        <h4 class="margin-bottom-15" style="text-align: center;">Вы не авторизованы,<br>либо аккаунт не активирован</h4>
        <br>
        <p>Если вы хотите посмотреть информацию вашего профиля,<br>
            необходимо <a href="{% url 'auth:login' %}">авторизоваться на сайте</a>,<br>
            либо дождаться активации аккаунта нашим менеджером.</p>
    {% endif %}
{% endblock %}