{% extends 'productsapp/base.html' %}
{% block content-container %}
    <!-- Main Content -->
    <div id="main-content" class="site-main clearfix">
        <div id="content-wrap" class="container">
            <div id="site-content" class="site-content clearfix">
                <div id="inner-content" class="inner-content-wrap">
                    <div class="container-fluid padding-0">
                        <div class="wprt-spacer" data-desktop="25" data-mobi="25" data-smobi="25"></div>
                        <div class="row">

                            {# ------------------------------------------- ПОЛУЧЕНИЕ ИНФОРМАЦИИ О ЮЗЕРЕ --------------------------------------------- #}

                            <div class="col-md-4">
                                <h3 class="line-height-normal margin-bottom-10">
                                    {% if user.first_name %}
                                        {{ user.first_name|title }}
                                    {% endif %}
                                    {% if user.patronymic %}
                                        {{ user.patronymic|title }}
                                    {% endif %}
                                    {% if user.last_name %}
                                        {{ user.last_name|title }}
                                    {% endif %}
                                </h3>
                                <div class="wprt-lines style-1 custom-3">
                                    <div class="line-1"></div>
                                    <div class="line-2"></div>
                                </div>

                                <div class="wprt-spacer" data-desktop="30" data-mobi="25" data-smobi="25"></div>

                                <div class="wprt-galleries-grid has-bullets bullet-style-2 bullet30 has-arrows arrow-position-2 arrow-light"
                                     data-layout="slider" data-column="1" data-column2="1" data-column3="1"
                                     data-column4="1" data-gaph="30" data-gapv="30" style="height: 270px;">
                                    <div class="cbp-item">
                                        <div class="item-wrap">
                                            <img style="height: 260px" src="/media/{{ user.avatar|default:'users/avatar/no_avatar.png' }}" alt="image"/>
                                        </div>
                                    </div><!--/.cbp-item -->
                                </div>
                                <a class="wprt-button small" href="{% url 'profile_self_user_update' user.pk %}">
                                    ред. профиль
                                </a>
                                <a class="wprt-button small cancel-button" href="{% url 'password_change' %}">
                                    сменить пароль
                                </a>
                            </div><!-- /.col-md-4 -->

                            <div class="col-md-8">
                                <div class="wprt-spacer" data-desktop="0" data-mobi="40" data-smobi="40"></div>

                                <h3 class="line-height-normal margin-bottom-10">О себе:</h3>
                                <div class="wprt-lines style-1 custom-3">
                                    <div class="line-1"></div>
                                    <div class="line-2"></div>
                                </div>

                                <div class="wprt-spacer" data-desktop="25" data-mobi="25" data-smobi="25"></div>

                                <p class="margin-bottom-25">{{ user.description }}</p>

                                <ul class="wprt-list style-1 accent-color">
                                    {% for company in user_companies %}
                                        <li>Место работы: {{ company.company.form }} {{ company.company.name }}</li>
                                        <li>Должность: {{ company.position|default:'не указана' }}</li>
                                    {% endfor %}
                                    <li>Дата регистрации: {{ user.created|date:"d.m.Y" }}</li>
                                    <li>Последнее посещение: {{ user.updated }}</li>
                                    <li>Дата рождения: {{ user.birthday|date:"d.m.Y" }}</li>
                                    <li>Телефон (моб): <a href="tel:{{ user.phone }}">{{ user.phone }}</a></li>
                                    <li>Эл. почта: <a href="mailto:{{ user.email }}">{{ user.email }}</a></li>
                                </ul>
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div><!-- /.inner-content-wrap -->
            </div><!-- /#site-content -->

           {# ------------------------------------------- ПОЛУЧЕНИЕ ПРОЕКТОВ ЮЗЕРА --------------------------------------------- #}

            <article class="hentry">
                <div class="post-content-wrap">
                    <h2 class="post-title">
                                        <span class="post-title-inner">
                                            <a href="#">ПРОЕКТЫ</a>
                                        </span>
                        <div class="wprt-lines style-1 custom-3">
                            <div class="line-1"></div>
                            <div class="line-2"></div>
                        </div>
                    </h2><!-- /.post-title -->
                    {% if user_projects %}
                        {% for item in user_projects %}
                            <div class="post-meta style-2">
                                <div class="post-meta-content">
                                    <div class="post-meta-content-inner">
                                    <span class="post-by-author item">
                                        <span class="inner"><strong>
                                            <a href="{{ item.project.get_absolute_url }}" title="" rel="author"># {{ item.project.pk }}</a>
                                        </strong></span>
                                    </span>
                                    <span class="post-by-author item">
                                        <span class="inner"><a href="{{ item.project.get_absolute_url }}" title="" rel="author">{{ item.project }}</a></span>
                                    </span>

                                        <span class="post-date item">
                                        <span class="inner"><span class="entry-date">Создан: {{ item.project.creation_date|date:'d.m.Y' }}</span></span>
                                    </span>
                                    <span class="post-comment item">
                                        <span class="inner">
                                            <span class="entry-date">Обновлен: {{ item.project.updated|date:'d.m.Y' }}</span>
                                        </span>
                                    </span>

                                        <span class="post-meta-categories item">
                                        <span class="inner">
                                        {% if item.project.solutions.all %}
                                            {% for i in item.project.solutions.all %}
                                                <a href="{{ i.techsol.get_absolute_url }}" rel="category">{{ i.techsol }}</a>
                                                {% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <span>Продукты не указаны</span>
                                        {% endif %}
                                        </span>
                                    </span>
                                    </div>
                                </div>
                            </div><!-- /.post-meta -->
                        {% endfor %}
                    {% else %}
                        <span>Нет ни одного проекта</span>
                    {% endif %}
                </div><!-- /.post-content-wrap -->
            </article>

            {# ------------------------------------------- ПОЛУЧЕНИЕ ЗАКАЗОВ ЮЗЕРА --------------------------------------------- #}

            <article class="hentry">
                <div class="post-content-wrap">
                    <h2 class="post-title">
                                        <span class="post-title-inner">
                                            <a href="#">ЗАКАЗЫ</a>
                                        </span>
                        <div class="wprt-lines style-1 custom-3">
                            <div class="line-1"></div>
                            <div class="line-2"></div>
                        </div>
                    </h2><!-- /.post-title -->
                    {% if user_orders %}
                        {% for item in user_orders %}
                            <div class="post-meta style-2">
                                <div class="post-meta-content">
                                    <div class="post-meta-content-inner">
                                    <span class="post-by-author item">
                                        <span class="inner"><strong>
                                            <a href="#" title="" rel="author"># {{ item.order_number }}</a>
                                        </strong></span>
                                    </span>
                                    <span class="post-by-author item">
                                        <span class="inner"><a href="#" title="" rel="author">{{ item.service }}</a></span>
                                    </span>
                                    <span class="post-date item">
                                        <span class="inner"><span class="entry-date">Создан: {{ item.created|date:'d.m.Y' }}</span></span>
                                    </span>
                                    <span class="post-date item">
                                        <span class="inner"><span class="entry-date">Создан: {{ item.created|date:'d.m.Y' }}</span></span>
                                    </span>
                                        <span class="post-meta-categories item">
                                        <span class="inner">
                                        {% if item.project.solutions.all %}
                                            {% for i in item.project.solutions.all %}
                                                <a href="{{ i.techsol.get_absolute_url }}" rel="category">{{ i.techsol }}</a>
                                                {% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <span>Продукты не указаны</span>
                                        {% endif %}
                                        </span>
                                    </span>
                                    </div>
                                </div>
                            </div><!-- /.post-meta -->
                        {% endfor %}
                    {% else %}
                        <span>Нет ни одного проекта</span>
                    {% endif %}
                </div><!-- /.post-content-wrap -->
            </article>

            <div class="wprt-spacer" data-desktop="80" data-mobi="40" data-smobi="40"></div>
        </div><!-- /#content-wrap -->
    </div><!-- /#main-content -->

{% endblock %}
{#{% block content-container %}#}
{#    <!-- Main Content -->#}
{#    <div id="main-content" class="site-main clearfix">#}
{#        <div id="content-wrap">#}
{#            <div id="site-content" class="site-content clearfix">#}
{#                <div id="inner-content" class="inner-content-wrap">#}
{#                    <div class="page-content">#}
{#                        <section class="wprt-section">#}
{#                            <div class="container">#}
{#                                <div class="row">#}
{#                                    <div class="col-md-12">#}
{#                                        <!--div class="col-md-8"-->#}
{#                                        <div class="wprt-spacer" data-desktop="40" data-mobi="20" data-smobi="20"></div>#}
{#                                        <div class="col-md-4">#}
{#                                            <h4 class="margin-bottom-15">Профиль#}
{#                                                пользователя {{ user.username }}</h4>#}
{#                                            <table>#}
{#                                                <tr>#}
{#                                                    <td><p class="n_text margin-bottom-0">Ваше имя:</p></td>#}
{#                                                    <td><p class="n_text margin-bottom-0">#}
{#                                                        <strong>{{ user.first_name|title }}</strong></p></td>#}
{#                                                </tr>#}
{#                                                <tr>#}
{#                                                    <td><p class="n_text margin-bottom-0">Отчество:</p></td>#}
{#                                                    <td><p class="n_text margin-bottom-0">#}
{#                                                        <strong>{% if user.patronymic %}#}
{#                                                            {{ user.patronymic|title }}{% endif %}</strong></p></td>#}
{#                                                </tr>#}
{#                                                <tr>#}
{#                                                    <td><p class="n_text margin-bottom-0">Фамилия:</p></td>#}
{#                                                    <td><p class="n_text margin-bottom-0"><strong>#}
{#                                                        {{ user.last_name|title }}</strong></p></td>#}
{#                                                </tr>#}
{#                                                <tr>#}
{#                                                    <td><p class="n_text margin-bottom-0">Пол:</p></td>#}
{#                                                    <td><p class="n_text margin-bottom-0">#}
{#                                                        <strong>{{ user.get_gender_display }}</strong></p></td>#}
{#                                                </tr>#}
{#                                                <tr>#}
{#                                                    <td><p class="n_text margin-bottom-0">День рождения:</p></td>#}
{#                                                    <td><p class="n_text margin-bottom-0">#}
{#                                                        <strong>{{ user.birthday|date:"d.m.Y" }}</strong></p></td>#}
{#                                                </tr>#}
{#                                                <tr>#}
{#                                                    <td><p class="n_text margin-bottom-0">Телефон:</p></td>#}
{#                                                    <td><p class="n_text margin-bottom-0">#}
{#                                                        <strong><a#}
{#                                                                href="tel:{{ user.phone }}">{{ user.phone }}</a></strong>#}
{#                                                    </p></td>#}
{#                                                </tr>#}
{#                                                <tr>#}
{#                                                    <td><p class="n_text margin-bottom-0">Эл. почта:</p></td>#}
{#                                                    <td><p class="n_text margin-bottom-0">#}
{#                                                        <strong>{{ user.email }}</strong></p></td>#}
{#                                                </tr>#}
{#                                                <tr>#}
{#                                                    <td><p class="n_text margin-bottom-0">Активный:</p></td>#}
{#                                                    <td><p class="n_text margin-bottom-0">#}
{#                                                        <strong>{% if user.is_active %} Да {% else %}#}
{#                                                            Забанен {% endif %}</strong></p></td>#}
{#                                                </tr>#}
{#                                            </table>#}
{#                                            <p><a href="{% url 'profile_user_update' user.pk %}">редактировать</a></p>#}
{#                                        </div>#}
{#                                        <div class="col-md-4">#}
{#                                            <h4 class="margin-bottom-15">Компании пользователя</h4>#}
{#                                            {% if user_companies %}#}
{#                                                {% for item in user_companies %}#}
{#                                                    <ul class="wprt-list style-2 accent-color margin-bottom-25">#}
{#                                                        <li><p class="n_text"><a#}
{#                                                                href="{{ item.company.get_absolute_url }}">{{ item.company }}</a>#}
{#                                                            - {{ item.position }}</p></li>#}
{#                                                    </ul>#}
{#                                                {% endfor %}#}
{#                                            {% else %}#}
{#                                                <p class="n_text">Нет ни одной компании</p>#}
{#                                            {% endif %}#}
{#                                            <p><a href="{% url 'company_user_update' user.pk %}">редактировать</a></p>#}
{#                                        <p><a href="{% url 'company_user_list' user.pk %}">все компании</a>#}
{#                                            </p>#}
{#                                        </div>#}
{#                                        <div class="col-md-4">#}
{#                                            <h4 class="margin-bottom-15">Проекты пользователя</h4>#}
{#                                            {% if user_projects %}#}
{#                                                {% for item in user_projects %}#}
{#                                                    <ul class="wprt-list style-2 accent-color margin-bottom-25">#}
{#                                                        <li><a href="{{ item.project.get_absolute_url }}"#}
{#                                                               class="n_text"> {{ item.project }}</a></li>#}
{#                                                    </ul>#}
{#                                                {% endfor %}#}
{#                                            {% else %}#}
{#                                                <p class="n_text">Нет ни одного проекта</p>#}
{#                                            {% endif %}#}
{#                                            <a href="{% url 'project_user_update' user.pk %}">редактировать</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <!-- /.col-md-8 -->#}
{#                                </div><!-- /.row -->#}
{#                            </div><!-- /.container -->#}
{#                        </section>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}