{% extends 'productsapp/base.html' %}
{% load static %}
{% block content-container %}
    <!-- Main Content -->
    <div id="main-content" class="site-main clearfix">
        <div id="content-wrap">
            <div id="site-content" class="site-content clearfix">
                <div id="inner-content" class="inner-content-wrap">
                    <div class="page-content">
                    <div class="wprt-spacer" data-desktop="25" data-mobi="25" data-smobi="25"></div>
                        <div id="content-wrap" class="container">
                            <article class="hentry">
                                <div class="post-content-wrap">
                                    <h2 class="post-title">
                                        <span class="post-title-inner">
                                            <a href="#">КОНТРАГЕНТЫ</a><a href="{% url 'partners:partner_create' %}">
                                                <i class="fa fa-plus" aria-hidden="true"
                                                   style="color: #337ab7; font-size: 16px"></i>
                                            </a>
                                        </span>
                                        <div class="wprt-lines style-1 custom-3">
                                            <div class="line-1"></div>
                                            <div class="line-2"></div>
                                        </div>
                                    </h2><!-- /.post-title -->
                                    {% for item in partners %}
                                        <div class="post-meta style-2">
                                            <div class="post-meta-content">
                                                <div class="post-meta-content-inner">
                                    <span class="post-by-author item">
                                        <strong>
                                        <span class="inner">
                                            <a href="{{ item.get_absolute_url }}" title="" rel="author">
                                                {{ item.name }} {{ item.form.name }}
                                            </a>
                                        </span>
                                        </strong>
                                    </span>
                                                    <span class="post-date item">
                                        <span class="inner"><span
                                                class="entry-date">{{ item.category.name }}</span></span>
                                    </span>
                                                    <span class="post-date item">
                                        <span class="inner"><span
                                                class="entry-date">ИНН {{ item.inn }}</span></span>
                                    </span>
                                                    <span class="post-date item">
                                        <span class="inner"><span
                                                class="entry-date">Создан: {{ item.created|date:'d.m.Y' }}</span></span>
                                    </span>
                                                    <span class="post-comment item">
                                        <span class="inner">
                                            <span class="entry-date">Обновлен: {{ item.updated|date:'d.m.Y' }}</span>
                                        </span>
                                    </span>
                                                </div>
                                            </div>
                                        </div><!-- /.post-meta -->
                                    {% endfor %}

                                </div><!-- /.post-content-wrap -->
                            </article>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}