{% extends 'productsapp/base.html' %}
{% load static %}
{% block content-container %}

    <!-- Main Content -->
    <div id="main-content" class="site-main clearfix">
        <div id="content-wrap">
            <div id="site-content" class="site-content clearfix">
                <div id="inner-content" class="inner-content-wrap">
                    <div class="page-content">
                        <section class="wprt-section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="wprt-spacer" data-desktop="35" data-mobi="30"
                                             data-smobi="30"></div>
                                        <h1 class="text-center margin-bottom-10">Наши услуги</h1>
                                        <div class="wprt-lines style-2 custom-1">
                                            <div class="line-1"></div>
                                        </div>

                                        <div class="wprt-spacer" data-desktop="25" data-mobi="25"
                                             data-smobi="25"></div>

                                        <p class="wprt-subtitle">В этом разделе Вы можете ознакомиться с доступными услугами по обучению,
                                        проведению инструментального анализа, разработке технических решений и прочих услуг. Многие услуги
                                        уже включены в стоимость материалов, а некоторые оказываются нами бесплатно. За подробностями
                                            обращайтесь к наших специалистам </p>

                                        <div class="wprt-spacer" data-desktop="50" data-mobi="40"
                                             data-smobi="40"></div>
                                    </div><!-- /.col-md-12 -->

                                    <div class="col-md-4">
                                        {% for service in develops %}
                                        <div class="wprt-icon-box accent-background rounded icon-effect-3 icon-right">
                                            <div class="icon-wrap">
                                                <span class="dd-icon icon-o-roof"></span>
                                            </div>
                                            <div class="content-wrap">
                                                <a href="{{ service.get_absolute_url }}"><h3 class="dd-title font-size-18">{{ service.name }}</h3></a>
                                                <p>{{ service.description }}</p>
                                            </div>
                                        </div>

                                        <div class="wprt-spacer" data-desktop="22" data-mobi="30"
                                             data-smobi="30"></div>
                                        {% endfor %}

                                        <div class="wprt-spacer" data-desktop="20" data-mobi="30"
                                             data-smobi="30"></div>
                                    </div><!-- /.col-md-4 -->

                                    <div class="col-md-4">
                                        <div class="text-center">
                                            <img src="{% static 'assets/img/worker.png' %}" alt="image"/>
                                        </div>
                                    </div><!-- /.col-md-4 -->

                                    <div class="col-md-4">
                                        <div class="wprt-spacer" data-desktop="0" data-mobi="30"
                                             data-smobi="30"></div>
                                        {% for service in trainings %}
                                        <div class="wprt-icon-box accent-background rounded icon-effect-3 icon-left">
                                            <div class="icon-wrap">
                                                <span class="dd-icon icon-o-glass-wall"></span>
                                            </div>
                                            <div class="content-wrap">
                                                <a href="{{ service.get_absolute_url }}"><h3 class="dd-title font-size-18">{{ service.name }}</h3></a>
                                                <p>{{ service.description }}</p>
                                            </div>
                                        </div>

                                        <div class="wprt-spacer" data-desktop="22" data-mobi="30"
                                             data-smobi="30"></div>
                                        {% endfor %}

                                    </div><!-- /.col-md-4 -->
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </section>

                        <!-- Promotion -->
                        <section class="wprt-section promotion">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="wprt-spacer" data-desktop="8" data-mobi="8"
                                             data-smobi="8"></div>
                                        <h2 class="text-white text-center-mobile font-size-20 margin-bottom-0">Мы поможем
                                            Вас выполнить работу аккуратно и профессионально</h2>
                                        <div class="wprt-spacer" data-desktop="0" data-mobi="20"
                                             data-smobi="20"></div>
                                    </div><!-- /.col-md-8 -->

                                    <div class="col-md-4">
                                        <div class="text-right text-center-mobile">
                                            <a href="{% url 'orders:order_create_no_product' %}" class="wprt-button white">ЗАКАЗАТЬ</a></div>
                                        <div class="wprt-spacer" data-desktop="0" data-mobi="10"
                                             data-smobi="10"></div>
                                    </div><!-- /.col-md-4 -->

                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </section>


                    <!--------------------------------------- ПРОДУКТЫ ------------------------------------------->
                    <section class="wprt-section offer">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="70" data-mobi="60"
                                         data-smobi="60"></div>
                                    <h2>НАШИ ТЕХНОЛОГИИ</h2>
                                    <div class="wprt-lines style-1 custom-5">
                                        <div class="line-1"></div>
                                        <div class="line-2"></div>
                                    </div>
                                    <div class="wprt-spacer" data-desktop="50" data-mobi="40"
                                         data-smobi="40"></div>
                                </div><!-- /.col-md-12 -->
                                <div class="col-md-12">
                                    <div class="wprt-service arrow-style-2 has-arrows arrow60 arrow-light"
                                         data-layout="slider" data-column="3" data-column2="3" data-column3="2"
                                         data-column4="1" data-gaph="30" data-gapv="30">
                                        <div id="service-wrap" class="cbp">
                                            {% for item in products %}
                                            <div class="cbp-item">
                                                <div class="service-item clearfix">
                                                    <div class="thumb">
                                                        <a href="{% url 'products:product' item.slug %}"><img
                                                                src='/media/{{ item.image | default:"products_images/default.jpg" }}'
                                                                alt="image"/></a></div>
                                                    <div class="service-item-wrap">
                                                        <i><h6 class="title font-size-15"><a
                                                                href="{% url 'products:product' item.slug %}">{{ item.name }}</a>
                                                        </h6></i>
                                                        <p class="desc">{{ item.short_desc | truncatechars:100 }}</p>
                                                        <a href="{% url 'products:product' item.slug %}"
                                                           class="wprt-button small">ПОДРОБНО</a>
                                                    </div>
                                                </div>
                                            </div><!-- /.cbp-item -->
                                            {% endfor %}
                                        </div><!-- /#service-wrap -->
                                    </div><!-- /.wprt-service -->
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="60"
                                         data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </section>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Main Content -->

{% endblock %}